.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #7db035;
    height: 75px;

  }
  
  .navbar__logo img {
    /* height: 50px; */
    width: 150px;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar__links li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar__links li a:hover {
    color: #fffb00;
  }
  